nav {
    width: 100%;
    max-height: 85px;
    background: rgb(245, 255, 252);
    background: linear-gradient(90deg, rgba(245, 255, 252, 1) 0%, rgba(238, 255, 237, 1) 11%, rgba(202, 236, 255, 1) 50%, rgba(239, 255, 214, 1) 100%);
}

nav .logo {
    display: inline-block;
    margin-left: 50px;
}

nav .logo img {
    width: auto;
    max-width: 200px;
}

body {
    font-family: "Poppins";
    margin: 0;
    padding: 0;
    background-image: url('/static/img/gtyt.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 100vh;
}

.container {
    margin-top: 15px;
    width: 80%;
    background-image: url('/static/img/bgg.jpg');
    background-size: cover;
    background-position: center;
    padding: 10px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(158, 135, 219, 0.1);
}

.all-img {
    width: 81%;
    background: rgb(223, 255, 246);
    background: radial-gradient(circle, rgba(223, 255, 246, 1) 0%, rgba(222, 235, 255, 1) 24%, rgba(245, 255, 254, 1) 49%, rgba(212, 243, 255, 1) 68%, rgba(240, 252, 255, 1) 89%);
    padding: 0px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(158, 135, 219, 0.1);
}

h1,
p {
    text-align: center;
    color: #000;
}

input[type="button"],
input[type="submit"] {
    font-family: "Poppins";
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    color: #000;
    text-align: center;
    background-color: #ed8cb9;
    color: rgb(230, 237, 208);
    cursor: pointer;
}

input[type="file"] {
    width: 250px;
    cursor: pointer;
    font-family: "Poppins";
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    color: #000;
    background-color: rgba(229, 181, 250, 0.9);
    text-align: center;
}


input[type="button"]:hover,
input[type="submit"]:hover {
    background-color: rgba(229, 181, 250, 0.9);
    color: #ffffff;
}

#uploaded-img,
#encrypted-img {
    width: 40%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: center;
}

.all-img {
    overflow-y: auto;
    max-height: 500px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #c3d5f8;
}


img {
    max-width: 100px;
    max-height: 100px;
}

th,
td {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #dee7f98d;
}